<!DOCTYPE html>
<html>
<head>
  <title>Okanagan Wood Rings</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
  
<body>
<body data-spy="scroll" data-target=".navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="WoodRings navbar-brand">
          <a href="#">OKWoodRings</a>
        </div>
        <!--end WoodRings -->
      </div>
      <!--end navbar-header -->
      <div class="navbar-collapse collapse">
        <%= form_tag("/products", class:"navbar-form navbar-left", role:"search", method:"get") do %>
          <%= content_tag(:div, text_field_tag('q', nil, class:"form-control", placeholder:"Enter search term..."), class:"form-group") %>
            <%= submit_tag("Search", class:"btn btn-default") %>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><%= link_to "About", static_pages_about_path %></li>
          <li><%= link_to "Contact", static_pages_contact_path %></li>
          <li><%= link_to "Products", products_path %></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
          <% end %>
          </li>
        </ul>
      </div>
      <!-- nav -->
    </div>
    <!-- end nav container-->
  </nav>
  <p class="notice"><%= notice %></p>                                                                                                                        
  <p class="alert"><%= alert %></p>
    <!-- end navbar-->
  <div class="page-wrap">
    
    <%= yield %>
 
  </div>
  <footer class="site-footer">
    &copy; 2016 Okanagan Wood Rings
  </footer>
</body>
</html>
