<div class = "col-xs-12 col-md-4">
 
      <h2>
        <%= product.name %>
      </h2>
      <%= image_tag(product.image_url, class: "img-responsive") %>
      <p>
        <strong>Description:</strong>
        <%= product.description %>
      </p>
      <p>
        <strong>Colour:</strong>
        <%= product.colour %>
      </p>
      <p>
        <strong>Price(CAD):</strong>
        $<%= product.price %>0
      </p>
    <%= link_to 'Show', product %> |
    <%= link_to 'Edit', edit_product_path(product) %> |
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div><!--end col-->
