<p id="notice"><%= notice %></p>

<div class = "container">
  <div class = "prodinfo">
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>
     <p>
      <strong>Price:</strong>
      $<%= @product.price %>0
    </p>
  </div><!--end prodinfo-->
  <div class = "prodimg">
    <%= image_tag(@product.image_url, class: "img-responsive") %>
  </div><!--end prodimg-->

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div><!--end container-->

